
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}


header {
    background: #4A148C; 
    color: #FFEB3B;      
    padding: 35px 20px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
}

header p {
    margin-top: 8px;
    font-size: 20px;
    color: #F3E5F5;
}


nav {
    background: #6A1B9A; 
    padding: 12px;
    text-align: center;
    
}

nav a {
    color: white;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #FFEB3B;
}


section {
    padding: 25px;
    max-width: 900px;
    margin: auto;
}


.event-card {
    background: white;
    padding: 15px;
    margin: 12px 0;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.gallery-item {
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery-item p {
    margin: 10px 0;
    font-weight: bold;
}


.testimonial {
    background: white;
    padding: 15px;
    margin: 12px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}


input, textarea {
    width: 90%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid #777;
}


button, .btn {
    padding: 12px 20px;
    background: #4A148C;
    border:none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover, .btn:hover {
    background: #6A1B9A;
}


#loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background:#EEE7FF;
    padding: 25px;
    width: 330px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}
